.zkpr-header {
    background-color: var(--zkpr-color-primary);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 20px;
    z-index: 10;
    transform: translateY(-20px);
}

.zkpr-header-logo {
    cursor: "none"; 
    width: "50%"; 
    max-width: "400px";
}