.zkpr-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50%;
    max-height: 80%;
    overflow: scroll;
    color: var(--zkpr-color-primary);
    transition: var(--zkpr-transition-long);
    z-index: 10000;
    overflow: auto;
    background-color: var(--zkpr-background);
    text-align: center;
    box-shadow: var(--zkpr-box-shadow);
    transition: resize 0s;
    border-radius: var(--zkpr-border-radius-medium);

    &::-webkit-scrollbar {
        display: none;
    }

    h1 {
        font-size: xx-large;
        padding-bottom: 10px;
    }
}

.zkpr-body {
    padding: 10px 40px 30px 40px;
    display: flex;
    flex-direction: column;

    h4 {
        margin: 30px;
    }
}
