.zkpr-search-filter {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    width: 50%;
}

.zkpr-search-filter-input {
    padding: 7px !important;
    min-width: 300px;
}

.zkpr-search-filter-message {
    font-size: small;
    padding-left: 5px;
}